<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <%= simple_form_for(pet) do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :species, collection: Pet::SPECIES %>
        <%= f.input :found_on %>
        <%= f.submit "Submit", class: "btn btn-primary w-100 my-3" %>
      <% end %>
    </div>
  </div>
</div>

